.button1 {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button2 {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button3 {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button4 {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.gallery {
    background-color: white;
    text-align: center;
    font-size: 50px;
    padding: 20px;
    margin: 0px;
}
    
.content-section {
        background-color: rgb(168, 255, 168);
        border-radius: 6px;
        padding: 20px;
}
    
.content-section img {
        width: 100%;
        margin: 15px 0;
}
    
.content-section img:hover {
        filter: drop-shadow(100%);
        transform: scale(1.1);
}
    
.animal {
        font-size: medium;
        color: black;
}


    